@charset "utf-8";

.Home-content-left {
  background: #1da1f2;
  background-image: url("img/bigbluebird.png");
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.icon {
  margin-right: 16px;
  width: 32px;
}

.information-item {
  display: flex;
  font-size: 18px;
  color: #fff;
  font-width: bold;
  line-height: 32px;
  margin: 48px auto;
}
